<h1>Web Portal</h1>
<p>by .Net Master</p>
<div class="row text-center">
    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <a routerLink="/" class="btn btn-sm btn-primary">Orders</a>
    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <a routerLink="/products" class="btn btn-sm btn-primary">Products</a>
    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <a routerLink="/customers" class="btn btn-sm btn-primary">Customers</a>
    </div>
</div>
<div class="container body-content">
    <router-outlet></router-outlet>
</div>
